@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "TT Fors Black Outline";
  src: url("/fonts/TT-Fors-Black-Outline-Trial.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*  */
.label-check {
  display: none;
}

/* The hamburger button label */
.hamburger-label {
  width: 70px;
  height: 58px;
  background-color: transparent;
  padding-top: 23%;
  display: block;
  cursor: pointer;
}

/* The lines of the hamburger menu */
.hamburger-label div {
  width: 41px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transition: all 0.3s;
}

/* Line 1 */
.line1 {
  transition: all 0.3s;
}

/* Line 2 */
.line2 {
  margin: 11px 0 0 0;
  transition: 0.3s;
}

/* Line 3 */
.line3 {
  margin: 21px 0 0 0;
  transition: 0.3s;
}

/* Hamburger menu lines transformations on checkbox check */
#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.39) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.39)translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 47px;
}

/* Mobile dropdown menu transitions */
.md\\:hidden {
  display: none;
}

.md\\:hidden {
  display: block;
}

/*  */

.card {
  position: fixed;
  bottom: 1%;
  left: 1%;
  width: 80px;
  height: 80px;
  background: linear-gradient(45deg, rgb(234, 88, 12), #0f52ba); /* Orange to deep blue gradient */
  border-radius: 50%; /* Keep it round */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;
  transition: all 1s ease-in-out;
  border: 2px solid #fff;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 14px 49px 0px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
.card:hover .logo {
  width: 40px;
  height: auto;

}

.card:hover .background {
  position: absolute;
  inset: 0;
  background-color: rgb(234, 88, 12); /* Rich orange background */
  background-image: linear-gradient(43deg, rgb(234, 88, 12) 0%, #0f52ba 100%); /* Orange to blue gradient */
}

.background {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(43deg, rgb(223, 223, 223) 0%, #c9c9c9 100%); /* Orange to blue gradient */
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
}

.logo .logo-svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #020915 0%, #0c2d6b 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo {
  transform: translate(70px, -52px);
  letter-spacing: 0px;
}

@media (max-width: 600px) {
  .card {
    width: 60px;
    height: 60px;
  }

  .card.clicked {
    width: 120px;
    height: 120px;
  }

  .logo {
    font-size: 1em;
  }

  .logo .logo-svg {
    width: 25px;
    height: 25px;
  }

  .box {
    padding: 5px;
  }
}


:root {
  --background: #171717;
  --foreground: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cursor-effect {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: background 0.2s ease, transform 0.08s ease-out;
  z-index: 9999;
}

.skills-mobile {
  visibility:hidden;
  position: absolute;
}

@media (max-width: 868px) {
  .skills-mobile {
    visibility: visible;
    position: relative;
  }
  .skills-desktop {
    visibility: hidden;
    position: absolute;
  }
}


/* .cursor-trail {
  position: fixed;
  width: 40px;
  height: 40px;
  background:  #ff4500;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: blur(10px);
  transition: opacity 0.3s ease-out;
} */

/* .NetworkSolutions{
font-weight: 100;
} */

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}

svg #wheel {
	animation: scroll ease 1.5s infinite;
}


/* Animation for Service Cards */
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.service-card {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Trigger animation when visible */
.animate-card {
  animation: slideUp 0.6s forwards;
}


/* Marquee */

/* .marqueeWrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  padding: 2%;
  background-color:  rgb(255, 68, 0);
  background-color: rgb(15 82 186);
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 23.52s linear infinite;

}

.marquee ul {
  display: flex; 
  padding-right: 100%;
  margin: 0;
  
}


.marquee li {
  margin-right: 50px;
  list-style-type: none; 
  font-size: 45px; 
  font-family: "TT Fors Black Outline"; 
  color: rgb(168, 168, 168);
  color: rgb(15 82 186);
  color:  rgb(255, 68, 0);
  text-transform: uppercase; 
} */


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%); 
  }
}

/* Responsive design */

.marquee-wrapper{
  width: 100000px; 
  transform: translateX(0px); 
  animation: 23.52s linear 0s infinite normal none running marqueeAnimation-88679690;
}